<!DOCTYPE html>
<html lang="zxx">

<head>

    <!-- Meta & Stylesheet -->
    <%- include('partials/metastylesheet',{title: "UMUTSHOP ALIŞVERİŞ SİTESİ - Ürünler" , prePath:"" }) %>
    <style>
        .breadcrumb-area {
            padding: 0 0 0 0 !important;
        }
    </style>
</head>

<body>

    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->
    <!-- search popup start-->
    <div class="body-overlay" id="body-overlay"></div>
    <div class="td-search-popup" id="td-search-popup">
        <form action="index.html" class="search-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search.....">
            </div>
            <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- dkt-sitebar-menu end-->

    <!-- dkt-sitebar-menu start-->
    <div class="dkt-sitebar-menu">
        <div class="dkt-sitebar-menu">
            <a class="dkt-sitebar-close" href="#"><i class="fa fa-times"></i></a>
            <div class="dkt-details-inner">
                <div class="logo">
                    <a href="index.html"><img src="assets/img/logo-3.png" alt="img"></a>
                </div>
                <p class="details"> </p>
                <div class="address-inner">
                    <h5></h5>
                    <p></p>
                </div>
                <div class="address-inner">
                    <h5></h5>
                    <p></p>
                </div>
                <div class="address-inner mb-0">
                    <h5></h5>
                    <p></p>
                </div>
            </div>
            <div class="dkt-market-earn">
                <div class="address-inner">
                    <h5></h5>
                    <p></p>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="earn-inner">
                            <p>Satılan Ürün</p>
                            <h5>12501</h5>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="earn-inner">
                            <p>Total Kayıt</p>
                            <h5>25804</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- dkt-sitebar-menu end-->

    <%- include('partials/header', {prePath:""}) %>

        <!-- breadcrumb start -->
        <div class="breadcrumb-area" style="background-image : url(siteresim4.png)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-inner">
                            <div class="section-title text-center">
                                <h2 class="page-title">Ürünler</h2>
                                <ul class="page-list">
                                    <li><a href="index.html">Anasayfa</a></li>
                                    <li>Ürünler</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb end -->

        <!-- blog-page area start -->
        <section class="blog-page-area pd-top-100 pd-bottom-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 order-lg-last">
                        <div class="all-item-section all-item-area-2">
                            <div class="row">
                                <!-- gallery item start here -->

                                <% products.forEach(product=> { %>

                                    <%- include('partials/product-card', { product:product, column: 2 }) %>

                                        <% }) %>

                            </div>
                        </div>

                        <div class="pagination-wrap text-center mt-2">
                            <ul class="pagination pagination-2">
                                <!-- <li class="page-item"><a class="page-link" href="#"><i class="la la-angle-left"></i></a></li> -->
                                <% for( let index=0; index < pageInfo.totalPage; index++ ) { let page=index+1; %>
                                    <li class="page-item<%= page == pageInfo.page ? " active" : "" %>">
                                        <a class="page-link" href="<%= pageInfo.params %>">
                                            <%= page %>
                                        </a>
                                    </li>
                                    <% } %>
                                        <!-- <li class="page-item"><a class="page-link" href="#"><i class="la la-angle-right"></i></a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 order-lg-first">
                        <div class="sidebar-area">
                            <div class="widget widget-category widget-border">
                                <h5 class="widget-title">Kategoriler</h5>
                                <ul>
                                    <% categories.forEach(category=> { %>
                                        <li><a href="">
                                                <%= category %> <i class="la la-angle-right"></i>
                                            </a></li>
                                        <% }) %>
                                </ul>
                            </div>
                            <div class="widget widget-product-sorting widget-border">
                                <h5 class="widget-title">Fiyata göre filtrele</h5>
                                <div class="slider-product-sorting"></div>
                                <div class="product-range-detail">
                                    <button>Filtrele</button>
                                    <input class="float-right" type="text" id="amount" readonly>
                                    <label class="float-right" for="amount">Fiyat:</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- blog-page area end -->

        <%- include('partials/footer2') %>

            <!-- back to top area start -->
            <div class="back-to-top">
                <span class="back-top"><i class="fa fa-angle-up"></i></span>
            </div>
            <!-- back to top area end -->


            <!-- all plugins here -->
            <script src="js/vendor.js"></script>
            <!-- main js  -->
            <script src="js/main.js"></script>

            <script>
                var pageButtons = document.querySelectorAll(".pagination-wrap a.page-link");
                for (let i = 0; i < pageButtons.length; i++) {
                    const element = pageButtons[i];
                    UpdateForPageNumber(element, i + 1);
                }

                function UpdateForPageNumber(element, page) {
                    let query = document.location.href.replace(document.location.origin, "");
                    if (query.indexOf("page") >= 0) {
                        let lastIndex = query.indexOf("&") >= 0 ? query.indexOf("&") : query.length;
                        var urlPage = query.substring(query.indexOf("page"), lastIndex);
                        element.href = element.href.replace(urlPage, `page=${page}`);
                    }
                    else {
                        if (query.indexOf("page") < 0) {
                            element.href += `?page=${page}`;
                        }
                        else {
                            element.href += `&page=${page}`;
                        }
                    }
                }
            </script>
</body>

</html>