<!DOCTYPE html>
<html lang="zxx">

<head>
    <% let title="UMUTSHOP ALIŞVERİŞ SİTESİ - " + product.name %>
        <!-- Meta & Stylesheet -->
        <%- include('partials/metastylesheet',{title: title , prePath:"../" }) %>
            <style>
                .single-product-wrap img {
                    width: 230px;
                    position: relative;
                    left: calc(50% - 115px);
                }
            </style>
</head>

<body>

    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->
    <!-- search popup start-->
    <div class="body-overlay" id="body-overlay"></div>
    <div class="td-search-popup" id="td-search-popup">
        <form action="index.html" class="search-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search.....">
            </div>
            <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- dkt-sitebar-menu end-->

    <%- include('partials/header', {prePath:"../"}) %>

        <!-- breadcrumb start -->
        <div class="breadcrumb-area" style="background-image:url('../img/breadcrumb/1.png');padding: 0px 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-inner">
                            <div class="section-title text-center">
                                <h2 class="page-title">Products Details</h2>
                                <ul class="page-list">
                                    <li><a href="index.html">Home</a></li>
                                    <li>Pages</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb end -->

        <!-- product-details area start -->
        <section class="product-details pd-top-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex">
                            <div class="col-lg-8">
                                <div class="single-product-wrap">
                                    <div class="thumb">
                                        <img src="../img/<%= product.image %>" alt="image">
                                        <a class="btn btn-white" href="#">Live Preview</a>
                                        <a class="btn btn-white btn-buy" href="#">Buy Now</a>
                                    </div>

                                    <div class="single-product-details">
                                        <h4><a href="javascript:void:;">
                                                <%= product.name %>
                                            </a></h4>
                                        <p>
                                            <%= product.category %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="single-product-wrap">
                                    <strong>Özellikler</strong>
                                    <table class="table">
                                        <tbody>
                                            <% product.attributes.forEach(attribute=> { %>
                                                <tr>
                                                    <td>
                                                        <%= attribute.key %>
                                                    </td>
                                                    <td>
                                                        <%= attribute.value %>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="product-tab">
                                <% product.prices.forEach(provider=> { %>
                                    <div class="row justify-content-around m-3 p-3 price-box">
                                        <div>
                                            <img src="../img/<%= provider.image %>" alt="" height="50">
                                            <%= provider.provider %>
                                        </div>
                                        <div class="align-self-center">
                                            <%= provider.price %> ₺
                                        </div>
                                    </div>
                                    <% }) %>
                                        <!-- <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="pill" href="#pills-home">Description</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#pills-profile">Reviews (2)</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="pills-home">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud
                                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                            aute
                                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                            nulla
                                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                            officia
                                            deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste
                                            natus
                                            error
                                            sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                                            ipsa
                                            quae
                                            ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                            explicabo.
                                            Nemo enim ipsam </p>
                                        <h5 class="title">Features Overview</h5>
                                        <ul>
                                            <li>
                                                <p class="font-medium">Bootstrap 4 Framework:</p>
                                                <p>Bootstrap is the most popular HTML, CSS, and JS framework for
                                                    developing
                                                    responsive, mobile first projects on the web.</p>
                                            </li>
                                            <li>
                                                <p class="font-medium">Slick Carousel:</p>
                                                <p>Create stunning slides with different animation effects easily with
                                                    Slick
                                                    Slider.</p>
                                            </li>
                                            <li>
                                                <p class="font-medium">Responsive Layout Design:</p>
                                                <p>What ever you are using the device your site will run as it should
                                                    be.
                                                    Kettle
                                                    template is fully responsive layout for all type of devices.</p>
                                            </li>
                                            <li>
                                                <p class="font-medium">13+ Valid HTML Files :</p>
                                                <p>Kettle template coded with beautiful and clean codes! Some powerful
                                                    HTML
                                                    files 100% valid W3 web standards.</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="pills-profile">
                                        <h5 class="title">Reviews (2)</h5>
                                        <div class="single-review">
                                            <h6 class="name">Tyler Bailey</h6>
                                            <span class="date">13 August 2019</span>
                                            <div class="star-rating">
                                                <span><i class="la la-star"></i></span>
                                                <span><i class="la la-star"></i></span>
                                                <span><i class="la la-star"></i></span>
                                                <span><i class="la la-star"></i></span>
                                                <span><i class="la la-star star-o"></i></span>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                                eirmod
                                                tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                                voluptua.
                                                At
                                                vero eos et accusam et. </p>
                                        </div>
                                        <div class="single-review">
                                            <h6 class="name">Tom Clark</h6>
                                            <span class="date">13 August 2019</span>
                                            <div class="star-rating">
                                                <span><i class="la la-star"></i></span>
                                                <span><i class="la la-star"></i></span>
                                                <span><i class="la la-star"></i></span>
                                                <span><i class="la la-star"></i></span>
                                                <span><i class="la la-star-o"></i></span>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                                eirmod
                                                tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                                voluptua.
                                                At
                                                vero eos et accusam et. </p>
                                        </div>
                                        <div class="add-review">
                                            <h5 class="title">Add Review</h5>
                                            <div class="star-rating">
                                                <p>Your Rating:</p>
                                                <span><i class="la la-star star-o"></i></span>
                                                <span><i class="la la-star star-o"></i></span>
                                                <span><i class="la la-star star-o"></i></span>
                                                <span><i class="la la-star star-o"></i></span>
                                                <span><i class="la la-star star-o"></i></span>
                                            </div>
                                            <form class="contact-form">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="single-input-wrap">
                                                            <input type="text" class="single-input"
                                                                placeholder="Your Name">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="single-input-wrap">
                                                            <input type="text" class="single-input"
                                                                placeholder="Your Email">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="single-input-wrap">
                                                            <textarea class="single-input textarea"
                                                                placeholder="Your Review"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="btn btn-base" href="#">Submit</a>
                                            </form>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- product-details area end -->

        <!-- product-slider area start -->
        <!-- <section class="product-slider-area pd-bottom-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-title">
                            <h2>Related products</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-slider owl-carousel owl-theme">
                            <div class="item">
                                <div class="all-isotope-item">
                                    <div class="thumb">
                                        <a class="gallery-fancybox" href="#">
                                            <img src="assets/img/item/1.png" alt="image">
                                        </a>
                                        <a class="btn btn-white" href="#">Live Preview</a>
                                    </div>
                                    <div class="item-details">
                                        <span class="price">$30.00</span>
                                        <span class="ratting float-right">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star star-o" aria-hidden="true"></i>
                                            <span>(12)</span>
                                        </span>
                                        <h4><a href="#">Kiamu</a></h4>
                                        <p>Photography Word Press Theme</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="all-isotope-item">
                                    <div class="thumb">
                                        <a class="gallery-fancybox" href="#">
                                            <img src="assets/img/item/2.png" alt="image">
                                        </a>
                                        <a class="btn btn-white" href="#">Live Preview</a>
                                    </div>
                                    <div class="item-details">
                                        <span class="price">$30.00</span>
                                        <span class="ratting float-right">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star star-o" aria-hidden="true"></i>
                                            <span>(12)</span>
                                        </span>
                                        <h4><a href="#">Russell brown</a></h4>
                                        <p>Photography Word Press Theme</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="all-isotope-item">
                                    <div class="thumb">
                                        <a class="gallery-fancybox" href="#">
                                            <img src="assets/img/item/3.png" alt="image">
                                        </a>
                                        <a class="btn btn-white" href="#">Live Preview</a>
                                    </div>
                                    <div class="item-details">
                                        <span class="price">$30.00</span>
                                        <span class="ratting float-right">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star star-o" aria-hidden="true"></i>
                                            <span>(12)</span>
                                        </span>
                                        <h4><a href="#">Mobile application - LonKat</a></h4>
                                        <p>Photography Word Press Theme</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- product-slider area end -->

        <%- include('partials/footer2') %>

            <!-- back to top area start -->
            <div class="back-to-top">
                <span class="back-top"><i class="fa fa-angle-up"></i></span>
            </div>
            <!-- back to top area end -->


            <!-- all plugins here -->
            <script src="../js/vendor.js"></script>
            <!-- main js  -->
            <script src="../js/main.js"></script>
</body>

</html>